@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500;600&family=Roboto:wght@100;300;500;900&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
font-family: 'Roboto Slab', serif;
font-family: 'Abril Fatface', cursive;
*/

:root {
    --yellowColor: #FF7F00;
    --blueColor: #040478;
    
    --roboto: 'Roboto', sans-serif;
    --robotoSlab: 'Roboto Slab', serif;
    --abrilFatface: 'Abril Fatface', cursive;
}



/*** background color ***/
.bg-yellow{
    background-color: var(--yellowColor);
}

.text-yellow{
    color: var(--yellowColor);
}

.text-blue{
    color: var(--blueColor);
}

.bg-blue{
    background-color: var(--blueColor)
}

/*** front format ***/
.text-one{
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
}

/*** Navbar ***/
.__logo {
    width: 70px;
    height: 70px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--blueColor);
}

/*** Header carousel ***/
.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--blueColor);
    border-color: var(--blueColor);
}


/*** Service ***/
.service-item:hover {
    margin-top: -10px;
    background: var(--blueColor);
} 

/*** video ***/
.paraVideo{
    height: 750px;
    width: 100%;
    padding: 50px 0px;
    background-color: rgba(34, 19, 19, 0.6);
}

.paraVideo video{
    min-height: 90%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -999;
}

.thumbVideo{
    height: 750px;
    width: 100%;
}

.thumbVideo video{
    min-height: 450px;
    width: 450px;
}

.parallax-header{
    height: 650px;
    width: 100%;
    padding: 50px 0px;
    background-color: rgba(34, 19, 19, 0.3);
}

.parallax-header video{
    min-height: 0%;
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: -999;   
}

.ParaImage{
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 100px 0px;
    
}

/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--blueColory);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--blueColor);
    z-index: -1;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--yellowColor) !important;
}

.testimonial-carousel .owl-dot.active {
    background: var(--blueColor);
    border-color: var(--blueColor);
}
