@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500;600&family=Roboto:wght@100;300;500;900&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
font-family: 'Roboto Slab', serif;
font-family: 'Abril Fatface', cursive;
*/

:root {
    --yellowColor: #FF7F00;
    --blueColor: #040478;
    --roboto: 'Roboto', sans-serif;
    --robotoSlab: 'Roboto Slab', serif;
    --abrilFatface: 'Abril Fatface', cursive;
    --offcanvas-width: 200px;
    --topNavbarHeight: 60px;
    --navColor: #6c757d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(119, 19, 201, 0.849);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blueColor)
}

/*****This is for the Font size*******/
.welcome-note{
    font-family: var(--roboto);
    font-weight: 400;  
}

.login-text{
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 400;
}

.text-normal{
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
}

.text-small{
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 400;
}

.text-blue{
    color: var(--blueColor);
}

.text-yellow{
    color: var(--yellowColor);
}

.nav-text{
    color: var(--navColor);
}

/*****This is for the BG color*******/

.bg-blue{
    background-color: var(--blueColor);
}

/******This is For The Admin LogIn Form Style Start Here********/
.container-position{
    padding: 225px 0px 225px 0px;
    margin-left: 125px;
}

.input-form{
    width: 455px;
    height: 45px;
    border: none;
    outline: none;
    border-bottom: 1px solid black; 
}

.btn-login{
    width: 125px;
    border: none;
    outline: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    cursor: pointer;
    background-color: var(--blueColor);
    transition: 0.3s ease-in-out;
}

.btn-login:hover{
    background-color: var(--yellowColor);
}

@media (max-width: 868px) {
    .container-position{
        padding: 0px 0px 0px 0px;
        margin-left: 0px;
    }
    .input-form{
        width: 650px; 
    }
    
}

@media (max-width: 468px) {
    .container-position{
        padding: 25px 0px 25px 0px;
        margin-left: 0px;
    }

    .input-form{
        max-width: 100%; 
    }
    
}
/******This is For The Admin Dashboard Page Style End Here********/

.page-header{
    font-family: var(--robotoSlab);
    font-size: 28px;
    font-weight: 400;
}

.user-text{
    font-family: var(--roboto);
    font-size: 22px;
    font-weight: 400;
}

.count-text{
    font-family: var(--roboto);
    font-size: 35px;
    font-weight: 400;
}

.card-text{
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 400;
}

.__logo {
    width: 45px;
    height: 45px;
}

.svg-img{
    width: 95px;
    height: 55px; 
}

.prev-image{
    width: 125px;
    height: 125px;
}

.prev-gif{
    width: 255px;
    height: 200px;
}
  
.logo-font{
    font-family: var(--abrilFatface);
    color: var(--yellowColor);
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.logo-font:hover{
    color: #fff;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

.sidebar-link {
display: flex;
align-items: center;
}

.sidebar-link .right-icon {
display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
transform: rotate(180deg);
}

@media (min-width: 992px) {

    body {
        overflow: auto !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }

    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }

    .sidebar-nav {
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight);
    }
}

.card-d{
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color: rgb(233, 245, 245);
}

